nav {
    text-align: center;
    margin-bottom:50px;
    
}


.photo {
    width:10vw;
    height: 10vw;
    border-radius: 30vw;
    display:inline-block;
    /* transition:300ms all;  */
}
.preview:hover{
    transition:300ms all;
}
/* .photo:hover{
    border-radius: 30vw;
    width:60vw;
    height:60vw;
    position:absolute;
    top:320px;
    left:20%;
    z-index: 100;
    transition:300ms all;  */
/* } */
.gallery{
    
    margin-top: 32px;
    width:fit-content;
    /* position:absolute; */
    
}
.fullsize{
    border-radius: 30vw;
    width:40vw;
    height:40vw;
    position:absolute;
    top:260px;
    left:20%;
    z-index: 100;

}

nav a{
    text-decoration: none;
    font-size: 30px;
    color:000000;
    border-radius: 10vw;
    padding:10px;
    margin-bottom:50px;
    margin-right: 50px;
    border:1px solid transparent;
}
header{
    width:100%;
    position:relative;
    background-color: #CFCFCF;
    border-bottom: 5px solid grey;
    border-collapse: separate;
    top:0;
}
.fullsize{
    margin-left: 13%;
}
