body {
    background-color:#CFCFCF;
    margin: 0;
    padding:0;
}
body .content{
    padding: 1rem 15rem;

}
h1{
    text-align: center;
    font-size: 90px;
}

nav {
    text-align: center;
    margin-bottom:50px;
    
}
header{
    width:100%;
    position:fixed;
    background-color: #CFCFCF;
    border-bottom: 5px solid grey;
    border-collapse: separate;
    top:0;
}
nav a{
    text-decoration: none;
    font-size: 30px;
    color:000000;
    border-radius: 10vw;
    padding:10px;
    margin-bottom:50px;
    margin-right: 50px;
    border:1px solid transparent;

}
p{
    text-indent: 50px;
    text-align: left;
    margin:auto;
    padding:auto;
    font-size:large;
}

table{
    margin:40px auto;
    width:50%;
    border: 2px solid;
    border-collapse: collapse;
}
/* .city .city-link,  */
    /* .home .home-link, */
        /* nav a:hover{ */
    /* text-decoration: underline; */
    /* color:blue; */
            /* border: 1px solid grey; */
/* } */
th{
    background-color: #000000;
    color:#CFCFCF;

}
/* .city .city-link,  */
    /* .home .home-link{ */
        /* border: 1px solid grey; */
/* } */
/* .home .home-link, 
    .city .city-link,
        nav a:hover{
            border: 1px solid grey;

} */

nav a:hover, 
    .home .home-link,
        .city .city-link{
            border: 1px solid grey;
    
}
.content{
    margin-top: 320px;
}
